<div class="page-container">
  <div class="logo-text">
    <span>Beta</span>
    <span><img src="/assets/images/logo.png" /></span>
    <span>Side</span>
  </div>
  <div (click)="toggleLanguage()">
    <small class="light-text">{{welcome}}</small>
  </div>
  <div>
    <div *ngIf="user">{{user.username}}</div>
    <!-- <button class="btn-primary" (click)="logout()" *ngIf="email">Logout</button> -->
    <a *ngIf="!user" href="{{siginUri}}"><button type="button" class="btn btn-primary">Sign In</button></a>
  </div>
</div>
