@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  transition: color 2s ease, background-color 2s ease;
}

body {
  color: var(--primary-color);
}

small {
  font-size: 0.7em;
}

.light-text {
  color: var(--primary-color);
}
